aiohttp==3.7.4
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
future==0.18.2
idna==2.8
multidict==4.7.4
pycparser==2.19
python-telegram-bot==12.3.0
requests==2.24.0
six==1.13.0
soupsieve==1.9.5
tornado==6.0.3
urllib3==1.25.10
yarl==1.4.2
